<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ekart-SellerRegistration</title>
<style>
    .a1{
        background-color: rgb(69, 69, 255);
        color: white;
        height: 50px;
        font-size: 25px;
        text-align: center;

    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="a1">
      <p>Seller Registration</p>
    </div>
<div class="container m-4">
    
    <form action="selReg" method="post" enctype="multipart/form-data">
      <div class="mb-3">
            <label class="form-label"  for="name">Name:</label>
            <input type="text" name="name" class="form-control" placeholder="Name" required>
        </div>
        <div class="mb-3">
            <label class="form-label"  for="email">Email:</label>
            <input type="email" name="email" class="form-control" placeholder="Email" required>
        </div>
      <div class="mb-3">
            <label class="form-label"  for="address">Address:</label>
        <textarea  class="form-control" name="address" placeholder="Address" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="inputPassword">Password:</label>
            <input type="password" name="pwd" class="form-control" id="inputPassword" placeholder="Password" required>
        </div>
      <div class="mb-3">
            <label class="form-label" for="contactNo">Contact No:</label>
            <input type="number"  name="contact" class="form-control" placeholder="Contact No" required>
        </div>
        <div class="mb-3">

            <input class="form-control form-control-lg"  name="selImg" id="formFileLg" type="file">
            </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary">Register</button></div>
    </form>
</div>
</body>
</html> 